.acms-btn {
  display: inline-block;
  padding: 8px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5) !important;
  border-left: 1px solid rgba(0, 0, 0, 0.4) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.4) !important;
  border-radius: 3px;
  background-color: #cccccc;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  outline: 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #dddddd;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdddddd', GradientType=0);
  background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
  background-image: -ms-linear-gradient(top, #ffffff, #dddddd);
  background-image: -o-linear-gradient(top, #ffffff, #dddddd);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
  background-image: linear-gradient(top, #ffffff, #dddddd);
  color: #333333;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
}
.acms-btn:hover,
.acms-btn.hover {
  border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
  background: #eaeaea;
  text-decoration: none;
}
.acms-btn.active,
.acms-btn:link,
.acms-btn:hover,
.acms-btn:active,
.acms-btn:visited {
  box-shadow: none;
  color: #333333;
}
.acms-btn.active,
.acms-btn:active {
  border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #d0d0d0;
  text-decoration: none;
}
.acms-btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.acms-btn.primary {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #39aa90;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff77d2bd', endColorstr='#ff39aa90', GradientType=0);
  background-image: -moz-linear-gradient(top, #77d2bd, #39aa90);
  background-image: -ms-linear-gradient(top, #77d2bd, #39aa90);
  background-image: -o-linear-gradient(top, #77d2bd, #39aa90);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#77d2bd), to(#39aa90));
  background-image: -webkit-linear-gradient(top, #77d2bd, #39aa90);
  background-image: linear-gradient(top, #77d2bd, #39aa90);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
}
.acms-btn.primary:hover {
  background: #39aa90;
  text-decoration: none;
}
.acms-btn.primary:link,
.acms-btn.primary:hover,
.acms-btn.primary:active,
.acms-btn.primary:visited {
  box-shadow: none;
  color: #FFFFFF;
}
.acms-btn.primary:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #339780;
  text-decoration: none;
}
.acms-btn.info {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #666666;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff999999', endColorstr='#ff666666', GradientType=0);
  background-image: -moz-linear-gradient(top, #999999, #666666);
  background-image: -ms-linear-gradient(top, #999999, #666666);
  background-image: -o-linear-gradient(top, #999999, #666666);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#999999), to(#666666));
  background-image: -webkit-linear-gradient(top, #999999, #666666);
  background-image: linear-gradient(top, #999999, #666666);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
}
.acms-btn.info:hover {
  background: #666666;
  text-decoration: none;
}
.acms-btn.info:link,
.acms-btn.info:hover,
.acms-btn.info:active,
.acms-btn.info:visited {
  color: #FFFFFF;
  box-shadow: none;
}
.acms-btn.info:active {
  background: #595959;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  text-decoration: none;
}
.acms-btn.success {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #8dc40e;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbef246', endColorstr='#ff8dc40e', GradientType=0);
  background-image: -moz-linear-gradient(top, #bef246, #8dc40e);
  background-image: -ms-linear-gradient(top, #bef246, #8dc40e);
  background-image: -o-linear-gradient(top, #bef246, #8dc40e);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#bef246), to(#8dc40e));
  background-image: -webkit-linear-gradient(top, #bef246, #8dc40e);
  background-image: linear-gradient(top, #bef246, #8dc40e);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
}
.acms-btn.success:hover {
  background: #8dc40e;
  text-decoration: none;
}
.acms-btn.success:link,
.acms-btn.success:hover,
.acms-btn.success:active,
.acms-btn.success:visited {
  box-shadow: none;
  color: #FFFFFF;
}
.acms-btn.success:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #7cac0c;
  text-decoration: none;
}
.acms-btn.warning {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #c4a00e;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2d046', endColorstr='#ffc4a00e', GradientType=0);
  background-image: -moz-linear-gradient(top, #f2d046, #c4a00e);
  background-image: -ms-linear-gradient(top, #f2d046, #c4a00e);
  background-image: -o-linear-gradient(top, #f2d046, #c4a00e);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f2d046), to(#c4a00e));
  background-image: -webkit-linear-gradient(top, #f2d046, #c4a00e);
  background-image: linear-gradient(top, #f2d046, #c4a00e);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
}
.acms-btn.warning:hover {
  background: #c4a00e;
  text-decoration: none;
}
.acms-btn.warning:link,
.acms-btn.warning:hover,
.acms-btn.warning:active,
.acms-btn.warning:visited {
  box-shadow: none;
  color: #FFFFFF;
}
.acms-btn.warning:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #ac8d0c;
  text-decoration: none;
}
.acms-btn.danger {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #c40e32;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff24668', endColorstr='#ffc40e32', GradientType=0);
  background-image: -moz-linear-gradient(top, #f24668, #c40e32);
  background-image: -ms-linear-gradient(top, #f24668, #c40e32);
  background-image: -o-linear-gradient(top, #f24668, #c40e32);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f24668), to(#c40e32));
  background-image: -webkit-linear-gradient(top, #f24668, #c40e32);
  background-image: linear-gradient(top, #f24668, #c40e32);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
}
.acms-btn.danger:hover {
  background: #c40e32;
  text-decoration: none;
}
.acms-btn.danger:link,
.acms-btn.danger:hover,
.acms-btn.danger:active,
.acms-btn.danger:visited {
  box-shadow: none;
  color: #FFFFFF;
}
.acms-btn.danger:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #ac0c2c;
  text-decoration: none;
}
.acms-btn.link,
.acms-btn .link:hover,
.acms-btn .link:active,
.acms-btn .link:visited {
  border: 0!important;
  color: #428bca;
  text-decoration: underline;
  background: none;
  border-radius: 0;
}
.acms-btn.link:hover {
  color: #2e67a5;
}
.acms-btn.link:active {
  box-shadow: none;
}
.acms-btn.disabled,
.acms-btn [disabled],
fieldset[disabled] .acms-btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.acms-btn.disabled:hover,
.acms-btn[disabled]:hover {
  cursor: not-allowed;
}
.acms-btn-flat {
  display: inline-block;
  padding: 8px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5) !important;
  border-left: 1px solid rgba(0, 0, 0, 0.4) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.4) !important;
  border-radius: 6px;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  outline: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.4) !important;
}
.acms-btn-flat:hover {
  border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
  background: #eaeaea;
  text-decoration: none;
}
.acms-btn-flat.active,
.acms-btn-flat:link,
.acms-btn-flat:hover,
.acms-btn-flat:active,
.acms-btn-flat:visited {
  box-shadow: none;
  color: #333333;
}
.acms-btn-flat.active,
.acms-btn-flat:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #d0d0d0;
  text-decoration: none;
}
.acms-btn-aqua {
  display: inline-block;
  padding: 8px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5) !important;
  border-left: 1px solid rgba(0, 0, 0, 0.4) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.4) !important;
  border-radius: 3px;
  background-color: #f6f8f9;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  outline: 0;
  background: #f6f8f9;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f8f9), color-stop(50%, #e5ebee), color-stop(51%, #d7dee3), color-stop(100%, #f5f7f9));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f8f9', endColorstr='#f5f7f9', GradientType=0);
  /* IE6-9 */

}
.acms-btn-aqua:hover {
  background: #DDDDDD;
  text-decoration: none;
}
.acms-btn-aqua.active,
.acms-btn-aqua:link,
.acms-btn-aqua:hover,
.acms-btn-aqua:active,
.acms-btn-aqua:visited {
  box-shadow: none;
  color: #333333;
}
.acms-btn-aqua.active,
.acms-btn-aqua:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #d0d0d0;
  text-decoration: none;
}
.acms-inline-btn {
  display: inline-block;
  float: left;
  margin-right: 4px;
  margin-bottom: 10px;
}
.small {
  padding: 6px 8px;
  font-size: 12 px;
  font-size: 1.2rem;
}
.large {
  padding: 12px 15px;
  font-size: 18 px;
  font-size: 1.8rem;
}
.acms-btn-flat.active,
.acms-btn.large:active {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.acms-btn-block,
.block-level {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.acms-btn-block:hover,
.block-level:hover {
  background: #DDD;
  border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
  cursor: pointer;
}
.acms-btn-block:active,
.block-level:active {
  background: #DDD;
  border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  outline: -webklit-ring;
}
.acms-btn-admin,
.formEntryActionUnit .btn {
  display: inline-block;
  padding: 8px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5) !important;
  border-left: 1px solid rgba(0, 0, 0, 0.4) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.4) !important;
  border-radius: 3px;
  background-color: #cccccc;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  outline: 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #dddddd;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdddddd', GradientType=0);
  background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
  background-image: -ms-linear-gradient(top, #ffffff, #dddddd);
  background-image: -o-linear-gradient(top, #ffffff, #dddddd);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
  background-image: linear-gradient(top, #ffffff, #dddddd);
  color: #333333;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
}
.acms-btn-admin:hover,
.formEntryActionUnit .btn:hover,
.acms-btn-admin.hover,
.formEntryActionUnit .btn.hover {
  border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
  background: #eaeaea;
  text-decoration: none;
}
.acms-btn-admin.active,
.formEntryActionUnit .btn.active,
.acms-btn-admin:link,
.formEntryActionUnit .btn:link,
.acms-btn-admin:hover,
.formEntryActionUnit .btn:hover,
.acms-btn-admin:active,
.formEntryActionUnit .btn:active,
.acms-btn-admin:visited,
.formEntryActionUnit .btn:visited {
  box-shadow: none;
  color: #333333;
}
.acms-btn-admin.active,
.formEntryActionUnit .btn.active {
  border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #d0d0d0;
  text-decoration: none;
}
.formEntryActionUnit .btn:hover {
  background: #eaeaea;
  border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
  text-decoration: none;
}
.acms-btn-admin-primary {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #39aa90;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff77d2bd', endColorstr='#ff39aa90', GradientType=0);
  background-image: -moz-linear-gradient(top, #77d2bd, #39aa90);
  background-image: -ms-linear-gradient(top, #77d2bd, #39aa90);
  background-image: -o-linear-gradient(top, #77d2bd, #39aa90);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#77d2bd), to(#39aa90));
  background-image: -webkit-linear-gradient(top, #77d2bd, #39aa90);
  background-image: linear-gradient(top, #77d2bd, #39aa90);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
}
.acms-btn-admin-primary:hover {
  background: #39aa90;
  text-decoration: none;
}
.acms-btn-admin-primary:link,
.acms-btn-admin-primary:hover,
.acms-btn-admin-primary:active,
.acms-btn-admin-primary:visited {
  box-shadow: none;
  color: #FFFFFF;
}
.acms-btn-admin-primary:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #339780;
  text-decoration: none;
}
.acms-btn-admin-info {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #666666;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff999999', endColorstr='#ff666666', GradientType=0);
  background-image: -moz-linear-gradient(top, #999999, #666666);
  background-image: -ms-linear-gradient(top, #999999, #666666);
  background-image: -o-linear-gradient(top, #999999, #666666);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#999999), to(#666666));
  background-image: -webkit-linear-gradient(top, #999999, #666666);
  background-image: linear-gradient(top, #999999, #666666);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
}
.acms-btn-admin-info:hover {
  background: #666666;
  text-decoration: none;
}
.acms-btn-admin-info:link,
.acms-btn-admin-info:hover,
.acms-btn-admin-info:active,
.acms-btn-admin-info:visited {
  box-shadow: none;
  color: #FFFFFF;
}
.acms-btn-admin-info:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #595959;
  text-decoration: none;
}
.acms-btn-admin-danger {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #c40e32;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff24668', endColorstr='#ffc40e32', GradientType=0);
  background-image: -moz-linear-gradient(top, #f24668, #c40e32);
  background-image: -ms-linear-gradient(top, #f24668, #c40e32);
  background-image: -o-linear-gradient(top, #f24668, #c40e32);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f24668), to(#c40e32));
  background-image: -webkit-linear-gradient(top, #f24668, #c40e32);
  background-image: linear-gradient(top, #f24668, #c40e32);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
}
.acms-btn-admin-danger:hover {
  background: #c40e32;
  text-decoration: none;
}
.acms-btn-admin-danger:link,
.acms-btn-admin-danger:hover,
.acms-btn-admin-danger:active,
.acms-btn-admin-danger:visited {
  box-shadow: none;
  color: #FFFFFF;
}
.acms-btn-admin-danger:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #ac0c2c;
  text-decoration: none;
}
.acms-btn-admin.acms-float-right.acms-btn-admin-danger {
  margin-right: 4px;
}
.acms-btn-admin-save {
  padding-right: 60px!important;
  padding-left: 60px!important;
}