button,
input,
select,
textarea {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"],
select {
  cursor: pointer;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
label {
  display: inline-block;
  margin-bottom: 5px;
}
.acms-form textarea,
.acms-form input[type="text"],
.acms-form input[type="password"],
.acms-form input[type="datetime"],
.acms-form input[type="datetime-local"],
.acms-form input[type="date"],
.acms-form input[type="month"],
.acms-form input[type="time"],
.acms-form input[type="week"],
.acms-form input[type="number"],
.acms-form input[type="email"],
.acms-form input[type="url"],
.acms-form input[type="search"],
.acms-form input[type="tel"],
.acms-form input[type="color"] {
  padding: 8px 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  color: #333333;
  line-height: 1;
}
.acms-form select {
  padding: 7px 20px 7px 10px;
}
.acms-form textarea {
  line-height: 1.6;
}
.acms-form label {
  margin-right: 15px;
}
.acms-form textarea,
.acms-form input[type="text"],
.acms-form input[type="password"],
.acms-form input[type="datetime"],
.acms-form input[type="datetime-local"],
.acms-form input[type="date"],
.acms-form input[type="month"],
.acms-form input[type="time"],
.acms-form input[type="week"],
.acms-form input[type="number"],
.acms-form input[type="email"],
.acms-form input[type="url"],
.acms-form input[type="search"],
.acms-form input[type="tel"] {
  border: solid 1px #CCCCCC;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
.acms-form select:focus,
.acms-form textarea:focus,
.acms-form input[type="text"]:focus,
.acms-form input[type="password"]:focus,
.acms-form input[type="datetime"]:focus,
.acms-form input[type="datetime-local"]:focus,
.acms-form input[type="date"]:focus,
.acms-form input[type="month"]:focus,
.acms-form input[type="time"]:focus,
.acms-form input[type="week"]:focus,
.acms-form input[type="number"]:focus,
.acms-form input[type="email"]:focus,
.acms-form input[type="url"]:focus,
.acms-form input[type="search"]:focus,
.acms-form input[type="tel"]:focus,
.acms-form input[type="color"]:focus {
  border-color: #BDE0F4;
  box-shadow: 1px 1px 3px rgba(189, 224, 244, 0.8), -1px -1px 3px rgba(189, 224, 244, 0.8);
}
.acms-form select:disabled,
.acms-form textarea:disabled,
.acms-form input[type="text"]:disabled,
.acms-form input[type="password"]:disabled,
.acms-form input[type="datetime"]:disabled,
.acms-form input[type="datetime-local"]:disabled,
.acms-form input[type="date"]:disabled,
.acms-form input[type="month"]:disabled,
.acms-form input[type="time"]:disabled,
.acms-form input[type="week"]:disabled,
.acms-form input[type="number"]:disabled,
.acms-form input[type="email"]:disabled,
.acms-form input[type="url"]:disabled,
.acms-form input[type="search"]:disabled,
.acms-form input[type="tel"]:disabled,
.acms-form input[type="color"]:disabled {
  border-color: #dddddd;
  background-color: #f5f5f5;
  color: #999999;
  cursor: not-allowed;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .acms-form select {
    -webkit-appearance: button;
    padding-left: 20px;
    padding-right: 10px;
    background: #eeeeee url(../images/marker/arrow_black03.png) no-repeat 7px center;
  }
}
.acms-form-block {
  display: block;
}
.acms-form-inline,
.acms-form-inline label {
  display: inline;
}
.acms-form-group {
  _display: inline-table;
  zoom: 1;
  margin-bottom: 10px;
}
.acms-form-group:before,
.acms-form-group:after {
  content: " ";
  display: table;
}
.acms-form-group:after {
  clear: both;
}
.acms-form-error {
  border-color: #dc8d99;
  background: #fff7f8;
  color: #c91032;
}
.acms-form-large {
  height: 48px;
  font-size: 24 px;
  font-size: 2.4rem;
}
.acms-form-small {
  height: 20px;
  font-size: 12 px;
  font-size: 1.2rem;
}
.acms-form-width-large {
  width: 500px;
}
.acms-form-width-medium {
  width: 350px;
}
.acms-form-width-small {
  width: 200px;
}
.acms-form-width-mini {
  width: 100px;
}
.acms-ico-checkbox,
.acms-ico-radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
  vertical-align: middle;
}
.acms-ico-checkbox {
  background: url('../images/marker/ico_input.png') no-repeat left top;
}
.acms-form-checkbox input:checked + .acms-ico-checkbox {
  background: url('../images/marker/ico_input.png') no-repeat left -20px;
}
.acms-ico-radio {
  background: url('../images/marker/ico_input.png') no-repeat -20px top;
}
.acms-form-radio input:checked + .acms-ico-radio {
  background: url('../images/marker/ico_input.png') no-repeat -20px -20px;
}
.acms-form-checkbox,
.acms-form-radio {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.acms-form-checkbox input,
.acms-form-radio input {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
.acms-form-radio {
  padding: 3px 0 0 4px;
}
.acms-form-radio:before,
.acms-form-radio::before {
  width: 16px;
  height: 16px;
  border-radius: 10px;
}
.acms-btn-checkbox label,
.acms-btn-radio label {
  width: auto;
}
.acms-btn-checkbox {
  display: none;
}
.acms-btn-checkbox + label {
  display: inline-block;
  position: relative;
  padding: 9px;
  border: 1px solid #CACECE;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  background-color: #FAFAFA;
}
.acms-btn-checkbox + label:active,
.acms-btn-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.acms-btn-checkbox:checked + label {
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  background-color: #BBBBBB;
  color: #FFFFFF;
}
.acms-btn-checkbox:checked + label:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
  font-size: 14 px;
  font-size: 1.4rem;
}
.acms-btn-radio {
  display: none;
}
.acms-btn-radio + label {
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  padding: 9px;
  border: 1px solid #CACECE;
  border-radius: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  background-color: #FAFAFA;
}
.acms-btn-radio:checked + label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  text-shadow: 0px;
  font-size: 32 px;
  font-size: 3.2rem;
}
.acms-btn-radio:checked + label {
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #BBBBBB;
  color: #FFFFFF;
}
.acms-btn-radio + label:active,
.acms-btn-radio .acms-btn-radio:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}