.acms-container {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}
.acms-grid,
.acms-grid-r {
  margin-right: -20px;
  _display: inline-table;
  zoom: 1;
}
.acms-grid:before,
.acms-grid-r:before,
.acms-grid:after,
.acms-grid-r:after {
  content: " ";
  display: table;
}
.acms-grid:after,
.acms-grid-r:after {
  clear: both;
}
[class*='acms-col'] {
  float: left;
  min-height: 1px;
  padding-right: 20px;
}
[class*='acms-col'],
.acms-col-1:before,
.acms-col-2:before,
.acms-col-3:before,
.acms-col-4:before,
.acms-col-5:before,
.acms-col-6:before,
.acms-col-7:before,
.acms-col-8:before,
.acms-col-9:before,
.acms-col-10:before,
.acms-col-11:before,
.acms-col-12:before,
.acms-col-1:after,
.acms-col-2:after,
.acms-col-3:after,
.acms-col-4:after,
.acms-col-5:after,
.acms-col-6:after,
.acms-col-7:after,
.acms-col-8:after,
.acms-col-9:after,
.acms-col-10:after,
.acms-col-11:after,
.acms-col-12:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.acms-space-25 {
  margin-right: -25px;
}
.acms-space-25 [class*='acms-col'] {
  padding-right: 25px;
}
.acms-space-30 {
  margin-right: -30px;
}
.acms-space-30 [class*='acms-col'] {
  padding-right: 30px;
}
.a-grid1,
.acms-col-1 {
  width: 8.33333%;
}
.a-grid2,
.acms-col-2 {
  width: 16.6667%;
}
.a-grid3,
.acms-col-3 {
  width: 25%;
}
.a-grid4,
.acms-col-4 {
  width: 33.3333%;
}
.a-grid5,
.acms-col-5 {
  width: 41.6667%;
}
.a-grid6,
.acms-col-6 {
  width: 50%;
}
.a-grid7,
.acms-col-7 {
  width: 58.3333%;
}
.a-grid8,
.acms-col-8 {
  width: 66.6667%;
}
.a-grid9,
.acms-col-9 {
  width: 75%;
}
.a-grid10,
.acms-col-10 {
  width: 83.3333%;
}
.a-grid11,
.acms-col-11 {
  width: 91.6667%;
}
.a-grid12,
.acms-col-12 {
  float: none;
  width: 100%;
}
[class*='acms-push'],
[class*='acms-pull'] {
  position: relative;
}
.acms-push-1 {
  left: 8.33333%;
}
.acms-push-2 {
  left: 16.6667%;
}
.acms-push-3 {
  left: 25%;
}
.acms-push-4 {
  left: 33.3333%;
}
.acms-push-5 {
  left: 41.6667%;
}
.acms-push-6 {
  left: 50%;
}
.acms-push-7 {
  left: 58.3333%;
}
.acms-push-8 {
  left: 66.6667%;
}
.acms-push-9 {
  left: 75%;
}
.acms-push-10 {
  left: 83.3333%;
}
.acms-push-11 {
  left: 91.6667%;
}
.acms-pull-1 {
  right: 8.33333%;
}
.acms-pull-2 {
  right: 16.6667%;
}
.acms-pull-3 {
  right: 25%;
}
.acms-pull-4 {
  right: 33.3333%;
}
.acms-pull-5 {
  right: 41.6667%;
}
.acms-pull-6 {
  right: 50%;
}
.acms-pull-7 {
  right: 58.3333%;
}
.acms-pull-8 {
  right: 66.6667%;
}
.acms-pull-9 {
  right: 75%;
}
.acms-pull-10 {
  right: 83.3333%;
}
.acms-pull-11 {
  right: 91.6667%;
}
@media (max-width: 768px) {
  .acms-container {
    width: auto;
  }
  .acms-grid-r [class*='acms-col'] {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .acms-grid-r [class*='acms-pull'] {
    position: static;
    left: auto;
    right: auto;
  }
}
[class*='a-grid'] {
  position: relative;
  float: left;
  margin-bottom: 10px;
  *margin-bottom: 0px;
  overflow: hidden;
}
[class*='a-grid'] img {
  display: block;
}